<ion-view view-title="Home">
  <ion-content class="padding">
    <ion-item class="item-thumbnail-left item-icon-right" ng-repeat="post in posts" type="item-text-wrap" href="#/app/pages/{{post.id}}">
      <img ng-src="{{post | get_post_thumbnail: 'thumbnail'}}">
      <h2 ng-bind-html="post.title.rendered">{{post.title.rendered}}</h2>
      <div ng-bind-html="post.excerpt.rendered">{{post.excerpt.rendered}}</div>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
  </ion-content>
</ion-view>
