<ion-view>
  <ion-content class="padding">
    <div class="post">
      <header class="entry-header">
        <div class="post-thumbnail" ng-if="!!( post | get_post_thumbnail )">
          <img ng-src="{{ post | get_post_thumbnail }}">
        </div>
        <h1 class="entry-title" ng-bind-html="post.title.rendered">{{ post.title.rendered }}</h1>
        <div class="post-meta"><div class="post-date" ng-if="!!post.date_gmt">{{ post.date_gmt + '+00:00' | date: "yyyy/MM/dd H:mm:ss" }}</div></div>
      </header>
      <div class="entry-content">
        <div ng-bind-html="post.content.rendered">{{ post.content.rendered }}</div>
      </div>
    </div>
  </ion-content>
</ion-view>
