<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Pages" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/pages">
    <ion-nav-view name="tab-pages"></ion-nav-view>
  </ion-tab>

  <!-- gallery Tab -->
  <ion-tab title="Gallery" icon-off="ion-images" icon-on="ion-images" href="#/tab/gallery">
    <ion-nav-view name="tab-gallery"></ion-nav-view>
  </ion-tab>


</ion-tabs>
